html{
  background-color: rgb(37, 37, 37);
}
.content{
  height: 100vh;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
 
}
button{
  width: 400px;
  margin: 30px auto;
  height: 50px;
  border: 0;
  background-color: rgb(10, 118, 17);
  color: #fff;
  border-radius: 15px;
}

.textarea{
  height: 25%;
}
.result{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
  color: #fff;
}